{% extends 'dentalApp/base.html' %}

{% block content %}
<div class="container mt-5 fade-in">
    <h1 class="center-align">Agendar Cita</h1>
    <form method="post" class="mt-4 fade-in">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                {{ form.service }}
                <label for="{{ form.service.id_for_label }}">{{ form.service.label }}</label>
            </div>
            <div class="input-field col s12">
                {{ form.patient_name }}
                <label for="{{ form.patient_name.id_for_label }}">{{ form.patient_name.label }}</label>
            </div>
            <div class="input-field col s12">
                {{ form.patient_email }}
                <label for="{{ form.patient_email.id_for_label }}">{{ form.patient_email.label }}</label>
            </div>
            <div class="input-field col s12">
                {{ form.appointment_date }}
                <label for="{{ form.appointment_date.id_for_label }}">{{ form.appointment_date.label }}</label>
            </div>
            <div class="input-field col s12">
                <input type="text" class="timepicker" id="{{ form.appointment_time.id_for_label }}" name="{{ form.appointment_time.name }}">
                <label for="{{ form.appointment_time.id_for_label }}">{{ form.appointment_time.label }}</label>
            </div>
        </div>
        <button type="submit" class="btn blue">Agendar</button>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.timepicker');
        M.Timepicker.init(elems, {
            twelveHour: false
        });
    });
</script>
{% endblock %}
